.navigation {
  height: 11vh;
  background-color: lightblue;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.navItems {
  margin: 0 10px;
}
.logo {
  font-size: 40px;
  color: blue;
}
.title {
  font-size: 35px;
  font-weight: bold;
}
.totalCount {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
}
